.button {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    border: none;
    background-color: transparent;
    border-radius: 100%;
    width: 2rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}
