.card {
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    color: #2b2b2b;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: relative;
} 

.image {
    width: 16rem;
    border-radius: 1rem;
    user-select: none;
}

.name {
    letter-spacing: 1px;
    font-weight: 500;
}

.description {
    font-size: 0.9rem;
}   

.priceContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.price {

}

